<h1>Customer Registration</h1>
<!-- link to go back home -->
<a href="/">Home</a>

<!-- register customer account form -->
<form action="/customerRegister" method="post">
    <input type="email" name="email" placeholder="email" required/> </br>
    <input type="password" name="password" placeholder="password" required/> </br>
    <input type="text" name="name" placeholder="name" required/> </br>
    <input type="submit" value="Register"/>
    <!-- report error -->
    {% if error %}
        <p><strong>Error: </strong>{{ error }}</p>
    {% endif %}
</form>