<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Airline</title>
</head>

<body>
    <h1>Airline</h1>
    <!-- if there is username, show logout button -->
    {% if username %}
        <h3>Welcome {{username}}</h3>
        <button onclick="window.location.href='/logout'">Logout</button>
        {% if staff %}

        {% else %}
            <!-- show purchased tickets -->
            <h2>Purchased Tickets</h2>
            <table>
                <tr>
                    <th>class</th>
                    <th>airline_name</th>
                    <th>flight_num</th>
                    <th>departure_airport_code</th>
                    <th>departure_date</th>
                    <th>departure_time</th>
                    <th>arrival_airport_code</th>
                    <th>arrival_date</th>
                    <th>arrival_time</th>
                    <th>flight_status</th>
                    <th>price</th>
                </tr>
                {% for flight in flights %}
                    <tr>
                        <td>{{flight.class}}</td>
                        <td>{{flight.airline_name}}</td>
                        <td>{{flight.flight_num}}</td>
                        <td>{{flight.departure_airport_code}}</td>
                        <td>{{flight.departure_date}}</td>
                        <td>{{flight.departure_time}}</td>
                        <td>{{flight.arrival_airport_code}}</td>
                        <td>{{flight.arrival_date}}</td>
                        <td>{{flight.arrival_time}}</td>
                        <td>{{flight.flight_status}}</td>
                        <td>{{flight.sold_price}}</td>
                    </tr>
                    <!-- button that cancels ticket -->
                    <button onclick="window.location.href='/cancel/{{flight.ticket_id}}'">Cancel</button>
                {% endfor %}
                <!-- display total_price -->
                <h3>Total Price: {{total_price}}</h3>
        {% endif %}
    {% else %}
        <!-- button to redirect to customer login -->
        <button onclick="window.location.href='/customerLogin'">Customer Login</button>
        <!-- button to redirect to staff login -->
        <button onclick="window.location.href='/staffLogin'">Staff Login</button>
    {% endif %}

    <!-- button to redirect to search -->
    <button onclick="window.location.href='/search'">Search for flights</button>

</body>
</html>

