<h1>Staff Login</h1>

<!-- form for airline staff login input -->
<form action="/staffLogin" method="post">
    <input type="text" name="username" placeholder="username" required/> </br>
    <input type="text" name="airline" placeholder="airline" required/> </br>
    <input type="password" name="password" placeholder="password" required/> </br>
    <input type="submit" value="Login"/>
    <!-- report error -->
    {% if error %}
        <p><strong>Error: </strong>{{ error }}</p>
    {% endif %}
</form>

<!-- button to redirect to staff registration -->
<br>
<p>Don't have account yet? Register for an account here.</p>
<button onclick="window.location.href='/staffRegister'">Register</button>